<div class="[ card ] [ grid-flow ] [ bg-neutral-100  text-align-left padding-24 ]">

		<div class="[ card__progress marginTop-48 ]">
			<h2>Seguir Viendo</h2>
			<div class="flex">
				<div class="[ image__progress ] [ padding-12 br-2 ]">
					<img class="image" src="img/image.png" alt="">
					<hr class="progress__line"></hr>
				</div>
				<div class="[ image__progress ] [ padding-12 br-2 ]">
					<img class="image" src="img/image.png" alt="">
					<hr class="progress__line"></hr>
				</div>
			</div>
			
		</div>
		<div class="[ card__cursos ]">
			<h2 class="">Cursos</h2>
			<div class="flex">
				<div class="[ card__single ]  [ bg-neutral-200 padding-12 marginTop-24 br-2 ]">
					<div>	
						<img src="img/image.png" alt="">
					</div>
					<p class="text-neutral-800 fw-bold">Titulo</p>
					<p>Descripcion</p>
					<p class="fw-bold">00:00</p>
				</div>
				<div class="[ card__single ]  [ bg-neutral-200 padding-12 marginTop-24 br-2 ]">
					<div>	
						<img src="img/image.png" alt="">
					</div>
					<p class="text-neutral-800 fw-bold">Titulo</p>
					<p>Descripcion</p>
					<p class="fw-bold">00:00</p>
				</div>
			</div>
		</div>
		<button class="button"><a href="#"></a>Ver Todos</button>
		<div class="card__academy">
			<h2>Escuelas</h2>
			<div class="[ image__escuelas ] [ bg-neutral-200 padding-12 br-1 ]">
				<img src="img/image.png" alt="">
				<h3 class="padding-12">Titulo</h3>
			</div>
		</div>
</div>