<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="/css/style.css">
	<title>Ac.Dieguez</title>
</head>
<body>
	<header class="header">
		<a href="#" class="header__logo"><h2>Ac.Dieguez</h2></a>
		<div class="header__toggle">
			<i class='bx bx-menu-alt-right' id="header-toggle"></i>
		</div>
		<nav class="nav" id="nav-menu">
			<div class="nav__content bd-grid">
				<a href="#" class="nav__perfill"></a>
					<div class="nav__menu">
						<ul class="nav__list fw-bold">
							<li class="nav__item"><a href="/" class="nav__link active">Home</a></li>
							<li class="nav__item"><a href="/login" class="nav__link">Login</a></li>
							<li class="nav__item"><a href="#" class="nav__link">Courses</a></li>
							<li class="nav__item"><a href="#" class="nav__link">Schools</a></li>
						</ul>
					</div>
			</div>
		</nav>
	</header>
	<%- body %>
	<footer></footer>	
	<script src="/js/app.js"></script>
</body>
</html>