 <form action="/admin/uploads" method="post" id="contact-form" class="contact-form mt-30 mb-30" enctype="multipart/form-data">
                <div class="contact-name">
                    <label for="name"> Title <abbr title="required" class="required">*</abbr></label>
                    <input name="video_title" id="name" type="text">
                </div>
                <br>

                <label for="name"> Select Video </label>
				<input  type="file" name="video" accept="video/*" >
				<br>
				<label for="name"> Select Thumbnail </label>
				<input  type="file" name="thumbnail" accept="image/*" >

                <div class="contact-message">
                    <label for="message">Description <abbr title="required" class="required">*</abbr></label>
                    <textarea name="video_description" rows="2" required placeholder="Write your description here..."></textarea>
                </div>

				<div class="contact-message">
                    <label for="message">Tags <abbr title="required" class="required">*</abbr></label>
                    <textarea id="message" name="video_tags" rows="2" required placeholder="Write your tags"></textarea>
                </div>
				
                <div class="contact-subject">
                    <label for="name" >Category <abbr title="required" class="required">*</abbr></label>
                        <select for="" name="video_category">
                        <option selected disabled>Select category </option>
                          <option value="">
							  mecanica
                          </option>
                        </select>
                </div>
                <div id="msg" class="message"></div>
                    <button type="submit"  class="btn btn-lg btn-color btn-button" >Upload Video</button>
            </form> 
