<form class="bg-neutral-100 padding-24">
	<h1>Login Here</h1>
	<hr>
		<input type="text" placeholder="Enter Email" name="email">
		<input type="password" placeholder="Enter Password" name="pwd">
	<hr>
	<button type="submit" class="registerbtn"><strong>Login</strong></button>
	</div>
	<p>Don't have an account? <a href="/register">Login</a>.</p>
</form>