<form class="bg-neutral-100 padding-24">
	<h1>Register Here</h1>
	<hr>
		<input type="text" placeholder="Enter Email" name="email">
		<input type="password" placeholder="Enter Password" name="pwd">
		<input type="password" placeholder="Confirm Password" name="confirm">
	<hr>
	<button type="submit" class="registerbtn"><strong>Register</strong></button>
	</div>
	<p>Already have an account? <a href="/login">Sign in</a>.</p>
</form>